<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#424242" />
    
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>StoryBoard</title>
</head>

<body>
    {{> _header}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{#if user}}
        {{> _add-btn}}
    {{/if}}
    {{> _footer}}
    <script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script>
        function checkOffset() {
            if ($('#add').offset().top + $('#add').height() >= $('#footer').offset().top - 10) {
                $('#add').css('bottom', '150px');
            }
            if ($(document).scrollTop() + window.innerHeight < $('#footer').offset().top) {
                $('#add').css('bottom', '23px'); // restore when you scroll up
            }
        }
        $(document).ready(() => {
            $('.button-collapse').sideNav({
                draggable: true
            });
            $('.dropdown-button').dropdown({
                constrainWidth: false,
                hover: true,
                belowOrigin: true,
                gutter: 0
            });
            $('select').material_select();
        });
        $(document).scroll(function () {
            checkOffset();
        });
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        });
    </script>
</body>

</html>