<h1>Welcome</h1>
<p>Welcome to StoryBoards 1.0.0</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{{#if user}}
{{else}}
    <a href="/auth/google" class="btn red darken-1"> <i class="fab fa-google left"></i>Login with Google</a>
{{/if}}